apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-sidecar-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: nginx-sidecar
  template:
    metadata:
      labels:
        app: nginx-sidecar
    spec:
      containers:
      - name: nginx-container
        image: nginx:1.21

        ports:
        - containerPort: 80
        volumeMounts:
        - name: shared-data
          mountPath: /usr/share/nginx/html
      - name: sidecar-container
        image: busybox
        command: ["/bin/sh","-c","while true; do echo \"Hello from sidecar $(date)\" >> /data/log.txt; sleep 10; done"]
        volumeMounts:
        - name: shared-data
          mountPath: /data
      volumes:
      - name: shared-data
        persistentVolumeClaim:
          claimName: shared-pvc
